<!DOCTYPE html>
<html lang="ptBr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Sorteio Instagram</title>
</head>
<body>
    <form action="/sorteio" method="post">
        <h1>Sorteio instagram</h1>
        <label>Informe a URL da publicação</label>
        <input type="text" id="url" name="url" placeholder="Exemplo: https://www.instagram.com/p/********/">
        <button id="search">Procurar</button>
    </form>
</body>
</html>